<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel = "stylesheet" href = "styleSheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    html, body{
      background-color: gray;
      color: blue;
    }
  </style>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  </head>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">RIS System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a th:href="@{/refDrPanel}">Referral Doctor</a></li>
            <li><a th:href ="@{/user_logout}">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> You are logged in as: </a></li>
          </ul>
          </ul>
        </div>
      </nav>
</header>
<body style="height:500px">
<div class="container" style="margin-top:50px">
<h2>This is the create patient order Page</h2>
<div class="container">
  <h2>Patient</h2>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create patient</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Patient Info</h4>
        </div>
        <div class="modal-body">
         <div align="center">	
		<h1>Create New Patient</h1>
		<br/>
    <div>
<form th:action="@{/savePatientInfo}" th:object="${patient}"method="post">
<div class = "form-group">
					<label>First Name:</label>
					<input type="text" class = "form-control" th:field = "*{firstName}">
</div>
<div class = "form-group">
					<label>Middle Initial:</label>
					<input type="text" class = "form-control" th:field = "*{middleInitial}" />
</div>
<div class = "form-group">

					<label>Last Name:</label></td>
					<input type="text" class = "form-control" th:field = "*{lastName}" />
</div>
<div class = "form-group">
					<label>Email info:</label></td>
					<input type="text"  class = "form-control" th:field = "*{email}"/>
</div>
<div class = "form-group">
					<label>Birth Date:</label></td>
					<input type="text"  class = "form-control" th:field = "*{DOB}"/>
</div>
<div class = "form-group">
					<label>Phone Number:</label></td>
					<input type="text" class = "form-control" th:field = "*{phoneNumber}" />
</div>
<div class="form-check form-check-inline">
    <p>Asthma Allergy:</p>
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="yes"th:field="*{asthmaAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">yes</label>
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="no"th:field="*{asthmaAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">No</label>
</div>
<div class="form-check form-check-inline">
    <p>Xray dye Allergy:</p>
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="yes"th:field="*{xraydyeAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">yes</label>
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="no"th:field="*{xraydyeAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">No</label>
</div>
<div class="form-check form-check-inline">
    <p>Mri dye Allergy:</p>
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="yes"th:field="*{mridyeAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">yes</label>
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="no"th:field="*{mridyeAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">No</label>
</div>
<div class="form-check form-check-inline">
    <p>Latex Allergy:</p>
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="yes"th:field="*{latexAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">yes</label>
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="no"th:field="*{latexAllergy}">
  <label class="form-check-label" for="inlineCheckbox1">No</label>
</div>
<div class = "form-group">
					<label>Other Allergies:</label>
					<input type="text" class = "form-control" th:field = "*{otherAllergy}"/></td>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> 
    </div>
  </div>  
</div>
</div>
                    <div>
                      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#searchModal">Search again</button>
<div class="container" style="margin-top:50px">
  <div class="modal fade" id="searchModal" role="dialog">
  <p>Date: <input type="text" id="datepicker"></p>
  <form method = "POST"
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary"th:action = "@{/searchPatients}" th:href ="@{/createPatientOrder}">Search Patients</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
 <div class="row mt-3" sty;e = "overflow-x:auto;">
                    <div class="">
                        <div class="">Active Orders</div>
  <table class="table table-striped table-dark">
                            <thead class = "thead-dark">
                            <tr>
                                <th>First Name:</th>
                                <th>Last Name</th>
                                <th>DOB: </th>
                                <th>Phone #: </th>
                                <th>Email: </th>
                            </tr>
                            </thead>
                            <tbody= "thead-light">


                                            <div class = "my-3">
                                <tr>
                                    <td colspan="3" class="text-center text-muted">
                                <tr th:each="patient : ${patient_list}">
                                    <td th:text="${patient.getFirstName()}"></td>
                                    <td th:text="${patient.getLastName()}"></td>
                                    <td th:text="${patient.getDOB()}"></td>
                                    <td th:text="${patient.getPhoneNumber()}"></td>
                                    <td th:text="${patient.getEmail()}"></td>  
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                       View
                                    </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <table style="width:100%">
            <tr>
              <th>First Name:</th>
              <td th:text="${patient.getFirstName()}"></td>
            </tr> 
            <tr>
              <th>Middle Initial:</th>
              <td th:text="${patient.getMiddleInitial()}"></td>
            </tr>   
            <tr>
              <th>Last Name:</th>
              <td th:text="${patient.getLastName()}"></td>
            </tr>  
            <tr>
              <th>Date of Birth:</th>
              <td th:text="${patient.getDOB()}"></td>
            </tr>  
            <tr>
              <th>Phone Number:</th>
              <td th:text="${patient.getPhoneNumber()}"></td>
            </tr>  
            <tr>
              <th>Email:</th>
              <td th:text="${patient.getEmail()}"></td>
            </tr>  
            <tr>
              <th>Asthma Allergy:</th>
              <td th:text="${patient.getAsthmaAllergy()}"></td>
            </tr>
            <tr>
              <th>MRI dye Allergy:</th>
              <td th:text="${patient.getMridyeAllergy()}"></td>
            </tr>
            <tr>
              <th>Xray dye Allergy:</th>
              <td th:text="${patient.getXraydyeAllergy()}"></td>
            </tr>
            <tr>
              <th>latex Allergy:</th>
              <td th:text="${patient.getLatexAllergy()}"></td>
            </tr>
            <tr>
              <th>Other Allergies:</th>
              <td th:text="${patient.getOtherAllergy()}"></td>
            </tr>
            </table>
            </div>
<form th:action="@{/savePatientInfo}" th:object="${patient_order}"method="post">
<div class="form-group">
  <label for="sel1">Modality:</label>
  <select class="form-control" id="sel1">
    <option >MRI</option>
    <option >CAT SCAN</option>
    <option >X-ray</option>
  </select>
</div>
<div class = "form-group">
					<label>Visit Notes:</label>
					<input type="text" class = "form-control"/>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </td>
</form>
</div>
</div>
</div>

 </body>
  </div>
  </div>
</body>
</html>