<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    html, body{
      background-color: gray;
      color: blue;
    }
  </style>
	</head>
<h1>Welcome to Spring Boot Security</h1>

<h2>Login Page</h2>

<form method="POST" th:action="@{/login_user}">
	User Name : <input type="text" th:field="${user.username}"><br><br>
	Password  : <input type="password" th:field="${user.password}"><br><br>
	<input type="submit" name="submit"/>
</form>
    
</html>