<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    html, body{
      background-color: gray;
      color: blue;
    }
  </style>
<header>

</header>
<body style="height:1500px">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">RIS System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Imaging upload</a></li>
            <li><a href="#">Order Pages</a></li>
            <li><a href="#"></a></li>
            <li><a th:href ="@{/user_logout}">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> You are logged in as: </a></li>
          </ul>
          </ul>
        </div>
      </nav>
  
<div class="container" style="margin-top:50px">
<h2>This is the radiologists panel</h2>
<div class="container mt-1" id="imaging_section">
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <div class="mb-3 h5">Checked In Patients</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th class="d-none d-md-table-cell">Imaging</th>
                            <th>Modality</th>
                            <th class="d-none d-md-table-cell">Appt</th>
                        </tr>
                          <tr>
                                    <td colspan="3" class="text-center text-muted">
                                        <tr th:each="patient : ${patient_list}">
                                          <!--<td th:text="${imaging.getImagingId()}"></td>-->
                                          <td th:text="${patient.getFirstName()}"></td>
                                          <!--<td th:text="${imaging.getImaging()}"></td>-->
                                          <td th:text="${patient.getModality()}"></td>  
                                          <!--<td th:text = "${tech.appointment()}"></td>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" class="text-center text-muted">
                                          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                           View
                                          </button>
                                           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <table style="width:100%">
              <form method="post">
<div class = "form-group">
<table style="width:100%">
            <tr>
              <th>First Name:</th>
            </tr> 
            <tr>
              <th>Middle Initial:</th>
            </tr>   
            <tr>
              <th>Last Name:</th>
            </tr>  
            <tr>
              <th>Date of Birth:</th>
            </tr>  
            <tr>
              <th>Phone Number:</th>
            </tr>  
            <tr>
              <th>Email:</th>
            </tr>  
            <tr>
              <th>Asthma Allergy:</th>
            </tr>
            <tr>
              <th>MRI dye Allergy:</th>
        
            </tr>
            <tr>
              <th>Xray dye Allergy:</th>
    
            </tr>
            <tr>
              <th>latex Allergy:</th>
        
            </tr>
            <tr>
              <th>Other Allergies:</th>
   
            </tr>
            <tr>
            <th>Modality type:</th>
            </tr>
            <tr>
            <th>visit Notes:</th>
            </tr>
            <tr>
            <th>Imaging link:</th>
            </tr>
            </table>
					<label>Diagnostic Report:</label>
					<input type="text" class = "form-control" >
</div>
</tr>
                </div>
            </div>
        </div>
                                </td>
                            </tr>
                      <!--  {% endfor %}-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>