<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1"></meta>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
 *{
			box-sizing: border-box;
		}
		body{
			background-color: #3498DB;
			font-family: "Arial", sans-serif;
			padding: 50px;
		}
  </style>
  <script>
    $(document).ready(function(){
      $('body').on('click', '.viewButton', function(){
        $('#patient_id').val($(this).parents('tr').data('id'));
      });
    });
  </script>
</head>
<header>

</header>
<body style="height:1500px">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">RIS System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Imaging upload</a></li>
            <li><a href="#">Order Pages</a></li>
            <li><a href="#"></a></li>
            <li><a th:href ="@{/user_logout}">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> You are logged in as: Radiologist</a></li>
          </ul>
          </ul>
        </div>
      </nav>

<div class="container" style="margin-top:50px">
<h2>This is the radiologists panel</h2>
<div class="container mt-1" id="imaging_section">
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <div class="mb-3 h5">Checked In Patients</div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Patient</th>
                            <th class="d-none d-md-table-cell">Imaging</th>
                            <th>Modality</th>
                            <th class="d-none d-md-table-cell">Appt</th>
                        </tr>
                        </thead>
                            <tbody>
                             <div class = "my-3">
                         <tr th:each="patient : ${patient_list}" th:attr="data-id=${patient.getPatientId()}">
                                   <td th:text = "${patient.getPatientId()}"></td>
                                   <td th:text = "${patient.getLastName()}"></td>
                                   <td>
                                    <p th:each="file : ${patient.getFileList()}" th:text="${file.getFileName()}"></p>
                                    <img th:src="*{'data:image/png;base64,'+image}" alt="" />
                                   </td>
                                   <td th:text = "${patient.getModality()}"></td>
                                   <td th:text = "${patient.getPatientId()}"></td>                              
                                    <td><button type="button" class="btn btn-primary viewButton" data-toggle="modal" data-target="#exampleModal">
                                       View
                                    </button>
                                    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <table style="width:100%">
<div class = "form-group">
<table style="width:100%">
            <tr
            th:attr="
            data-first_name=${patient.getFirstName()}"
                                >
              <th>First Name:</th>
                            <td th:text="${patient.getFirstName()}"></td>

            </tr> 
            <tr 
            th:attr="data-order=${patient.getMiddleInitial()}">
              <th>Middle Initial:</th>
              <td th:text="${patient.getMiddleInitial()}"></td>


            </tr>   
            <tr 
            th:attr="data-order=${patient.getPatientId()}">
              <th>Last Name:</th>
              <td th:text="${patient.getLastName()}"></td>
            </tr>  
            <tr>
              <th>Date of Birth:</th>
              <td th:text="${patient.getDOB()}"></td>

            </tr>  
            <tr>
              <th>Phone Number:</th>
              <td th:text="${patient.getMiddleInitial()}"></td>
            </tr>  
            <tr>
              <th>Email:</th>
              <td th:text="${patient.getPhoneNumber()}"></td>
            </tr>  
            <tr>
              <th>Asthma Allergy:</th>
              <td th:text="${patient.getAsthmaAllergy()}"></td>
            </tr>
            <tr>
              <th>MRI dye Allergy:</th>
              <td th:text="${patient.getMridyeAllergy()}"></td>
        
            </tr>
            <tr>
              <th>Xray dye Allergy:</th>
              <td th:text="${patient.getXraydyeAllergy()}"></td>
    
            </tr>
            <tr>
              <th>latex Allergy:</th>
              <td th:text="${patient.getLatexAllergy()}"></td>
        
            </tr>
            <tr>
              <th>Other Allergies:</th>
   <td th:text="${patient.getOtherAllergy()}"></td>
            </tr>
            <tr>
            <th>Modality type:</th>
            <td th:text="${patient.getModality()}"></td>
            </tr>
            <tr >
            <th>visit Notes:</th>
<td th:text="${patient.getNotes()}"></td>
            </tr>
            <tr>
            <th>Imaging link:</th>
            <td th:each="file : ${patient.getFileList()}" th:text="${file.getFileName()}"</td>
            </tr>
            </tbody>
            </table>
<form th:action="@{/saveReport}" th:object="${diagnosticReport}" method="post">
					<label>Diagnostic Report:</label>
          <input type="hidden" th:field="${diagnosticReport.patient_id}">
					<input type="text" class = "form-control"th:field = "${diagnosticReport.report}">
          <button class="btn btn-primary" type="submit">Submit Report</button>
</form>
</td>


</body>
</html>