<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
 *{
			box-sizing: border-box;
		}
		body{
			background-color: #3498DB;
			font-family: "Arial", sans-serif;
			padding: 50px;
		}
  </style>
    <script>
    $(document).ready(function(){
      $('body').on('click', '.imagingCompleteButton"', function(){
        $('#patient_id').val($(this).parents('tr').data('id'));
      });
    });
  </script>
  </head>
<header>

</header>
<body style="height:1500px">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">RIS System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Imaging</a></li>
            <li><a th:href ="@{/user_logout}">Log Out</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> You are logged in as: Tech</a></li>
          </ul>
          </ul>
        </div>
      </nav>
  
<div class="container" style="margin-top:50px">
<h2>This is the Tech panel</h2>
<div class="container mt-1" id="analysis_section">
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <div class="mb-3 h5">Awaiting Analysis</div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Patient</th>
                                <th>Modality</th>
                                <th class="d-none d-md-table-cell">Completed</th>
                                <th></th>
                            </tr> 
                        </thead>

                        <tbody> 
                         <tr th:each="patient : ${patient_list}"
                         
                                th:attr="data-order=${patient.getPatientId()}, 
                                data-first_name=${patient.getLastName()},
                                data-modality=${patient.getModality()},
                                data-email=${patient.getEmail()}
                                ">
                                    <td th:text="${patient.getPatientId()}"></td>
                                    <td th:text="${patient.getFirstName()}"></td>
                                    <td th:text="${patient.getModality()}"></td>
                                    <td th:text="${patient.getEmail()}"></td>   
                                    <td><button type="button" lass="view-a imagingCompleteButton" data-toggle="modal" data-target="#exampleModal">Upload</button></td>
                            </tr> 
                                              
                        </tbody>
                    </table>
                            
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Imaging</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 <noscript>
            <h2>Sorry! Your browser doesn't support Javascript</h2>
        </noscript>
        <div class="upload-container">
            <div class="upload-header">
                <h2>Upload Images</h2>
            </div>
            <div class="upload-content">
                <div class="single-upload">
                    <form id="singleUploadForm" name="singleUploadForm">
                        <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                        
                        <button type="submit" class="primary submit-btn">Submit</button>
                    </form>
                    <div class="upload-response">
                        <div id="singleFileUploadError"></div>
                        <div id="singleFileUploadSuccess"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <script src="/js/main.js" ></script>
</body>
</html>