<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>User Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>User Table</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>User Name</th>
            <th>Password</th>
        </tr>
        <tr th:each="user : ${user_list}">
            <td th:text="${user.getId()}">-1</td>
            <td th:text="${user.getEmail()}">John Doe</td>
            <td th:text="${user.getUserName()}">demo@example.com</td>
            <td th:text="${user.getPassword()}">demo@example.com</td>
        </tr>
    </table>
    <a href="/demo">Submit another user</a>
</body>
</html>